name: Build Stock Manager APK

on:
  push:
    branches: [ main, master, principal ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'

      - run: flutter pub get

      - run: flutter build apk --release --no-tree-shake-icons

      - uses: actions/upload-artifact@v4
        with:
          name: StockManager-APK
          path: build/app/outputs/flutter-apk/app-release.apk
          retention-days: 30
